
img {
  display: grid flex;
  border-radius: 12px;
}
.container {
  grid-gap: 5px;
  height: 100%;
  margin: 2rem;
  display: grid;
  display:flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  width: 275px;
  height:175px;
  border-radius: 12px;
}
.cell-1 {
  background: ;
}
.cell-2 {
  background: ;
}
.cell-3 {
  background: ;
}
.cell-4 {
  background: ;
}
.cell-5 {
  background: ;
}
.cell-6 {
  background: ;
}
.cell-7 {
  background: ;
}
.cell-8 {
  background: ;
}
.cell-9 {
  background: ;
}
.cell-10 {
  backround: ;
